<table class="table table-hover">
	<% @cart.items.each do |item| %>
		<tr>
			<td><%= item.quantity%></td>
			<td><%= item.product.name%></td>
			<td><%= item.total_price%></td>
		</tr>
	<% end %>
</table>
