<% if @cart %>
	<p class="navbar-text.navbar-right">
		<%if @cart.empty?%>
			<li><%= link_to "Your cart is empty"%></li>
		<%else%>
			<li><%= link_to "You have #{pluralize @cart.count, "item"}.", cart_path%></li>
		<%end%></p>
<%end%>