<% if @cart.line_items %>
	<p class="navbar-text.navbar-right">
		<% if @cart.line_items.count==0 %>
			<li><%= link_to "Your cart is empty"%></li>
		<%else%>
			<li><%= link_to "You have #{pluralize @cart.line_items.count, "item"}.", cart_path%></li>
		<%end%></p>
<%end%>

